**/node_modules/**
**/cache/**
**/artifacts/**
**/build/**
**/dist/**
**/diff/**
**/abi/**
**/coverage/**
**/.coverage_artifacts/**
**/.coverage_cache/**
**/.coverage_contracts/**
**/flattened_contracts/**

**/credentials.json
**/*.flat.sol
**/coverage.json
**/gas_report
.env
.idea
.DS_Store
.aragon
arapp_local.json
yarn-error.log
