**/node_modules/**
**/flattened_contracts/**

**/cache/**
**/artifacts/**
**/.coverage_artifacts/**
**/.coverage_cache/**
**/.coverage_contracts/**
**/build/**
**/diff/**
**/abi/**
**/coverage/**

**/credentials.json
**/*.flat.sol
**/coverage.json
**/gas_report
.env
.idea
.DS_Store
.aragon
yarn-error.log
